.nav li .submenu {
  visibility: hidden;
  z-index: 999;
}
.nav li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit;
}
.submenu {
  transform: translateY(10px);
}
.group:hover .submenu {
  transform: translateY(0);
  transition: all 0.25s ease;
}
